.answerCard {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    color: black;
    text-decoration: none;
    row-gap: 15px;
    margin: 0 20px 20px 20px;
}

.answerCardTop {
    display: flex;
    justify-content: space-between;
}

.answerOwnerDiv {
    margin-left: 1vw;
}

.likesAndDesciptionContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
    padding-top: 1vh;
}

.answerDescription {
    text-align: justify;
    word-break: break-all;
    margin-top: 0.3vh;
    margin-bottom: 0.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
    float: right;
    word-break: break-word;
}

.answerCommentDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 4px 8px;
    height: 25px;
    /* border: 2px solid rgb(3, 83, 3); */
    border-radius: 8px;
    background-color: rgb(249, 249, 249);
    gap: 5px;
}

.deleteAnswerButton {
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 5px;
    color: white;
    margin-left: 0.5vw;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

.deleteAnswerButton:hover {
    background-color: rgb(42, 42, 42);
}

.updateAnswerModalButton {
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 5px;
    color: white;
    margin-left: 0.5vw;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

.updateAnswerModalButton:hover {
    background-color: rgb(42, 42, 42);
}

.answerImgsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    max-height: 30%;
    max-width: 98%
}

.answerImgDiv {
    max-width: 200px;
    max-height: 100%;
}

.answerCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
