.likesContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
    /* justify-content: space-between; */
    align-items: center;
}



.totalLikes {
    font-size:xx-large;
    font-weight: bolder;
}

.disliked {
    cursor: pointer;
    width: 50%;
    object-fit: cover;
    border-radius: 100%;
    color: rgb(182, 24, 50);
}

.liked {
    cursor: pointer;
    width: 50%;
    object-fit: cover;
    border-radius: 100%;
    color: green;
}

.notLiked {
    cursor: pointer;
    width: 50%;
    object-fit: cover;
    border-radius: 100%;
}
