.likesContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}



.totalLikes {
    font-size:xx-large;
    font-weight: bolder;
}

.disliked {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    filter:sepia(1) hue-rotate(149deg);
}

.liked {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    filter:sepia(1) hue-rotate(149deg);
}

.notLiked {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
