.questionCardCommentsContainer {
    display: flex;
    flex-direction: column;
}

.questionCardComment {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding-left: 0.3vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    border: 2px solid rgb(3, 83, 3);
    border-radius: 2px;
    background-color: rgb(255, 111, 0);
}

.questionCommentDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 4px 8px;
    height: 25px;
    /* border: 2px solid rgb(3, 83, 3); */
    border-radius: 8px;
    background-color: rgb(249, 249, 249);
    gap: 5px;
}

.commentModalButton {
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 5px;
    color: white;
    margin-left: 0.5vw;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

.commentModalButton:hover {
    background-color: rgb(42, 42, 42);
}

.questionCommentButtons {
    padding-right: 5px;
}

.noQuestionComments {
    margin-left: 0.5vw;
    margin-bottom: 0.5vh;
}
