.questionCardCommentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionCardComment {
    width: 99%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border: 2px solid rgb(3, 83, 3);
    border-radius: 2px;
    background-color: rgb(255, 111, 0);
}

.noQuesitonComments {
    margin-left: 0.5vh;
}
