.questionSection {
    margin-top: 1vh;
    border: 2px solid rgb(3, 83, 3);
    border-radius: 2px;
    background-color: rgb(255, 111, 0);
}

.commentsH3 {
    margin-left: 0.5vw;
    margin-bottom: 0;
    margin-top: 0.5vh;
}
